  
  
 @import url('https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,800,900');
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
   html,
body {
 font-family: 'Martel Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

body  {
  
  font-family: 'Martel Sans', sans-serif;

  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dde3e6, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dde3e6, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.slider {
  position: relative;
  display: block;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  overflow: hidden;
}
.slider__nav-bar {
  position: absolute;
  width: 180px;
  height: 180px;
  bottom: -90px;
  left: 50%;
  transform: translateX( -50% );
  border-radius: 90px;
  text-align: center;
  background: #dde3e6;
  z-index: 100;  
}
.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
  width: 64px;
  height: 64px;
  transition: 0.2s;
  cursor: pointer;
  z-index: 100;
  opacity: 0.8;
}
.slider__arrow:hover {
  opacity: 1;
}
.slider__arrow_prev {
  left: 16px;
  width: 64px;
  height: 64px;
  background-image:url(assets/img/arrow__left-white.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 64px;
}
.slider__arrow_next {
  right: 16px;
  width: 64px;
  height: 64px;
  background-image: url(assets/img/arrow__right-white.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 64px;
}
.nav-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
  width: 32px;
  height: 32px;
  transition: 0.2s;
  cursor: pointer;
  background-image: url(assets/img/dot-black.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 26px 26px;
  margin-top: 32px;
  z-index: 3;
}
.nav-control:hover {
  opacity: 0.8;
}
.nav-control_active {
  opacity: 1;
}
.slider-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slider-list::before {
  content: '';
  display: block;
  padding-top: calc(9 / 16 * 100%);
}
.slider-list__item {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16vw;
  color: #000;
  will-change: transform;
  z-index: 1;
}
.slider-list__item .back__element {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 1;
}
.slider-list__item .back__element img {

  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

 /* position: relative;
  display: block;
  width: 100%;
  max-width: 640px;
  height: auto;
  top: 50%; left: 50%;
  transform: translate( -50%, -50% );*/
}
.slider-list__item .main__element {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 3;
}
.slider-list__item .main__element img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  height: auto;
  top: 50%; left: 50%;
  transform: translate( -50%, -50% );
}
.slider-list__item .front__element {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 4;
 transform: scale(0); 
}
.slider-list__item .front__element img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 640px;
  height: auto;
  top: 50%; left: 50%;
  transform: translate( -50%, -50% );
}


.slider-list__item .title__element {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 2;
}
.slider-list__item .title__element .title {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  top: 50%; left: 50%;
  transform: rotate(-0deg) translate( -50%, -80% );
  font-family: 'Martel Sans', sans-serif;
  text-align: center;
}


section a {
 
 display: block;
 width: 100%;
 height: auto;
 top: 50%; left: 50%;
 position: relative;
 text-transform: uppercase;
 text-align: center;
 text-decoration: none;
 color: #fff;
 z-index: 10;
}


section a:after, section a:before {
  content: '';
}

section.head a {
  width: 652px;
  height: 78px;
  line-height: 78px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -1526px;
  margin-top: -39px;
  font-weight: 200;
  color: #BABABA;
  -webkit-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  -moz-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
}
section.head a:before, section.head a:after {
  color: #000;
  font-weight: 900;
  font-size: 30px;
  text-transform: none;
  display: block;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
section.head a:before {
  content: attr(data-bf);
  position: relative;
  top: -45px;
  left: -5px;
}
section.head a:after {
  content: attr(data-af);
  position: relative;
  right: 0;
  bottom: -30px;
}
section.head a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
section.head a:hover:before {
  -webkit-transform: scale(1.2) translate(-25px, -15px);
  -moz-transform: scale(1.2) translate(-25px, -15px);
  -ms-transform: scale(1.2) translate(-25px, -15px);
  -o-transform: scale(1.2) translate(-25px, -15px);
  transform: scale(1.2) translate(-25px, -15px);
}
section.head a:hover:after {
  -webkit-transform: scale(1.2) translate(25px, 15px);
  -moz-transform: scale(1.2) translate(25px, 15px);
  -ms-transform: scale(1.2) translate(25px, 15px);
  -o-transform: scale(1.2) translate(25px, 15px);
  transform: scale(1.2) translate(25px, 15px);
}


.slider-list__item_active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 2;
}


@media screen and (max-width: 640px) {

  .slider-list__item .title__element .title {
    font-size: 26vw;
  }

  .slider-list__item .more__element .content .excerpt {
    display: none;
  }

  .slider-list__item .more__element .content .link {
    margin-top: 16px;
  }

}

@media screen and (max-width: 560px) {

  .slider__nav-bar {
    /* hide dots for mobile */
    opacity: 0;
    z-index: -1;
  }

}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}


      
    
   
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124048250-1');
    </script>
    
